/* FILES */

/*
#controls #uploadprogressbar .label.inner
{
	color : #000;
}



#filelist-button.button {
	display : none;
}


.searchbox input[type="search"] {
	background : transparent url("../img/actions/search_black.svg") no-repeat 6px center;
}

#searchbox {
	margin-top : 8px;
	margin-right : 250px;
	background-color : #e0a385;
	transition: all 0.3s ease 0s;
	opacity : 0.8;
	height: 28px;
	min-height: 28px;
	border: 1px solid #888;
}

#searchbox:hover {
	opacity : 1;
}

.searchbox input[type="search"]:focus, .searchbox input[type="search"]:active, .searchbox input[type="search"]:valid {

	background-color : #e0a385;
}

#app-content-recent,
#app-content-favorites,
#app-content-trashbin,
#app-content-sharinglinks,
#app-content-sharingin,
#app-content-sharingout
{
	margin-top : 40px;
}

#fileList tr td.filename
{
	padding-left : 40px;
}

*/

div.crumb {
	background : rgba(0, 0, 0, 0) url(../img/breadcrumb.svg) no-repeat scroll right top / auto 30px;
}
div.crumb.last a, div.crumb:first-child a {
    padding-right: 24px;
}
div.crumb:last-child {
	background: none;
}

/* --- Navigaton --- */
.nav-icon-files {
	background-image: var(--icon-files-fff);
}

.nav-icon-recent {
	background-image: url('/nc/index.php/svg/files/recent?color=fff');
}

.nav-icon-favorites {
	background-image: url('/nc/index.php/svg/files/star?color=fff');
}

.nav-icon-sharingin, .nav-icon-sharingout, .nav-icon-shareoverview {
	background-image: url('/nc/index.php/svg/files/share?color=fff');
}
.nav-icon-sharinglinks {
	background-image: url('/nc/index.php/svg/files/public?color=fff');
}
.nav-icon-systemtagsfilter {
	background-image: var(--icon-tag-fff);
}
.nav-icon-deletedshares, .nav-icon-trashbin {
	background-image: url('/nc/index.php/svg/files/delete?color=fff');
}
.icon-quota {
	background-image: var(--icon-quota-fff);
}
.settings-button {
	background-image: var(--icon-settings-dark-fff);
}

/* --- Content --- */

input[type="checkbox"].checkbox:checked + label::before, input[type="radio"].checkbox:checked + label::before {
	background-image: url('/nc/core/css/../img/actions/checkbox-mark-dark.svg');
}

span.icon-folder, td[style*="folder.svg"], div[style*="folder.svg"], a[style*="folder.svg"] {
	background-image : url(https://keep/nc/index.php/svg//core/filetypes/folder?color=f19a2b) !important;
}
td[style*="folder-shared.svg"], div[style*="folder-shared.svg"], a[style*="folder-shared.svg"] {
	background-image : url(https://keep/nc/index.php/svg//core/filetypes/folder-shared?color=f19a2b) !important;
}
td[style*="folder-external.svg"], div[style*="folder-external.svg"], a[style*="folder-external.svg"] {
	background-image : url(https://keep/nc/index.php/svg//core/filetypes/folder-external?color=f19a2b) !important;
}
td[style*="folder-public.svg"], div[style*="folder-public.svg"], a[style*="folder-public.svg"] {
	background-image : url(https://keep/nc/index.php/svg//core/filetypes/folder-public?color=f19a2b) !important;
}
td[style*="folder-starred.svg"], div[style*="folder-starred.svg"], a[style*="folder-starred.svg"] {
	background-image : url(https://keep/nc/index.php/svg//core/filetypes/folder-starred?color=f19a2b) !important;
}

/* Details side pane */
#shareTabView p.hint {
	margin-top : 0px;
}