
div.crumb {
	background : rgba(0, 0, 0, 0) url(../img/breadcrumb.svg) no-repeat scroll right top / auto 30px;
}
div.crumb.last a, div.crumb:first-child a {
    padding-right: 24px;
}
div.crumb:last-child {
	background: none;
}

/* --- Navigaton --- */
.nav-icon-files {
	background-image: var(--icon-files-fff);
}

.nav-icon-recent {
	background-image: url('/nc/index.php/svg/files/recent?color=fff');
}

.nav-icon-favorites {
	background-image: url('/nc/index.php/svg/files/star?color=fff');
}

.nav-icon-sharingin, .nav-icon-sharingout, .nav-icon-shareoverview, .nav-icon-pendingshares {
	background-image: url('/nc/index.php/svg/files/share?color=fff');
}
.nav-icon-sharinglinks {
	background-image: url('/nc/index.php/svg/files/public?color=fff');
}
.nav-icon-systemtagsfilter {
	background-image: var(--icon-tag-fff);
}
.nav-icon-deletedshares, .nav-icon-trashbin {
	background-image: url('/nc/index.php/svg/files/delete?color=fff');
}
.icon-quota {
	background-image: var(--icon-quota-fff);
}
.settings-button {
	background-image: var(--icon-settings-dark-fff);
}

/* --- Content --- */

input[type="checkbox"].checkbox:checked + label::before, input[type="radio"].checkbox:checked + label::before {
	background-image: url('/nc/core/css/../img/actions/checkbox-mark-dark.svg');
}

span.icon-folder, td[style*="folder.svg"], div[style*="folder.svg"], a[style*="folder.svg"] {
	background-image : url(/nc/index.php/svg/core/filetypes/folder?color=f19a2b) !important;
}
td[style*="folder-shared.svg"], div[style*="folder-shared.svg"], a[style*="folder-shared.svg"] {
	background-image : url(/nc/index.php/svg/core/filetypes/folder-shared?color=f19a2b) !important;
}
td[style*="folder-external.svg"], div[style*="folder-external.svg"], a[style*="folder-external.svg"] {
	background-image : url(/nc/index.php/svg/core/filetypes/folder-external?color=f19a2b) !important;
}
td[style*="folder-public.svg"], div[style*="folder-public.svg"], a[style*="folder-public.svg"] {
	background-image : url(/nc/index.php/svg/core/filetypes/folder-public?color=f19a2b) !important;
}
td[style*="folder-starred.svg"], div[style*="folder-starred.svg"], a[style*="folder-starred.svg"] {
	background-image : url(/nc/index.php/svg/core/filetypes/folder-starred?color=f19a2b) !important;
}

#searchresults tbody tr:hover, tbody tr:active, #fileList tbody tr:hover, tbody tr:active {
	background-color: var(--color-background-hover);
}

/* Details side pane */
#shareTabView p.hint {
	margin-top : 0px;
}

/* Right click menu */
#rightClickMenus ul li {
	opacity: 0.6;
}
#rightClickMenus ul li:hover {
	opacity: 1;
	box-shadow: inset 4px 0 var(--color-primary);
}